
/*CAROUSEL*/
.hide-bullets {
    list-style:none;
    margin-top:10px;
    padding: 0 10px;

    .thumbnail {
      display: block;
      margin-bottom: $line-height-computed;
      line-height: $line-height-base;
      background-color: $thumbnail-bg;
      border: 1px solid $thumbnail-border;
      @include transition(border .2s ease-in-out);

      > img,
      a > img {
        @include img-responsive;
        margin-left: auto;
        margin-right: auto;
      }

      // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

      // Image captions
      .caption {
        padding: $thumbnail-caption-padding;
        color: $thumbnail-caption-color;
      }
    }

    // Add a hover state for linked versions only
    a.thumbnail:hover,
    a.thumbnail:focus,
    a.thumbnail.active {
      border-color: $link-color;
    }

}
.hide-bullets > li > a {
    cursor: pointer;
}
.hide-bullets > li > a:hover{
    border: none;
    text-decoration: none;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #333;
}


@media (max-width: $screen-sm-max) {

}
