.css-input {
    position: relative;
    display: inline-block;
    margin: 2px 0;
    font-weight: 400;
    cursor: pointer;
}
.css-input input {
    position: absolute;
    opacity: 0;
}
.css-input input:focus + span {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.css-input input + span {
    position: relative;
    display: inline-block;
    margin-top: -2px;
    margin-right: 3px;
    vertical-align: middle;
}
.css-input input + span:after {
    position: absolute;
    content: "";
}
.css-checkbox {
    margin: 7px 0;
}
.css-checkbox input + span {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.css-checkbox input + span:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "FontAwesome";
    font-size: 10px;
    color: #fff;
    line-height: 18px;
    content: "\f00c";
    text-align: center;
}
.css-checkbox:hover input + span {
    border-color: #ccc;
}
.css-checkbox.css-checkbox-sm {
    margin: 9px 0 8px;
    font-size: 12px;
}
.css-checkbox.css-checkbox-sm input + span {
    width: 16px;
    height: 16px;
}
.css-checkbox.css-checkbox-sm input + span:after {
    font-size: 8px;
    line-height: 15px;
}
.css-checkbox.css-checkbox-lg {
    margin: 3px 0;
}
.css-checkbox.css-checkbox-lg input + span {
    width: 30px;
    height: 30px;
}
.css-checkbox.css-checkbox-lg input + span:after {
    font-size: 12px;
    line-height: 30px;
}
.css-checkbox.css-checkbox-rounded input + span {
    border-radius: 3px;
}
.css-checkbox-default input:checked + span {
    background-color: #999999;
    border-color: #999999;
}
.css-checkbox-primary input:checked + span {
    background-color: #5c90d2;
    border-color: #5c90d2;
}
.css-checkbox-info input:checked + span {
    background-color: #70b9eb;
    border-color: #70b9eb;
}
.css-checkbox-success input:checked + span {
    background-color: $brand-green;
    border-color: $brand-green;
}
.css-checkbox-warning input:checked + span {
    background-color: #f3b760;
    border-color: #f3b760;
}
.css-checkbox-danger input:checked + span {
    background-color: #d26a5c;
    border-color: #d26a5c;
}
.css-radio {
    margin: 7px 0;
}
.css-radio input + span {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.css-radio input + span:after {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.css-radio input:checked + span:after {
    opacity: 1;
}
.css-radio:hover input + span {
    border-color: #ccc;
}
.css-radio.css-radio-sm {
    margin: 9px 0 8px;
    font-size: 12px;
}
.css-radio.css-radio-sm input + span {
    width: 16px;
    height: 16px;
}
.css-radio.css-radio-lg {
    margin: 5px 0;
}
.css-radio.css-radio-lg input + span {
    width: 26px;
    height: 26px;
}
.css-radio-default input:checked + span:after {
    background-color: #999999;
}
.css-radio-primary input:checked + span:after {
    background-color: #5c90d2;
}
.css-radio-info input:checked + span:after {
    background-color: #70b9eb;
}
.css-radio-success input:checked + span:after {
    background-color: $brand-green;
}
.css-radio-warning input:checked + span:after {
    background-color: #f3b760;
}
.css-radio-danger input:checked + span:after {
    background-color: #d26a5c;
}
.switch {
    margin: 3px 0;
}
