@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin background-size($size){
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin background-clip($value) {
    -webkit-background-clip: $value;
    -moz-background-clip: $value;
    background-clip: $value;
}

@mixin box-shadow($one, $two, $three, $four, $five) {
    box-shadow: $one $two $three $four $five;
    -moz-box-shadow: $one $two $three $four $five;
    -webkit-box-shadow: $one $two $three $four $five;
}

@mixin transform-rotate($value) {
    -moz-transform: rotate($value);
    -o-transform: rotate($value);
    -webkit-transform: rotate($value);
    -ms-transform: rotate($value);
    transform: rotate($value);
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin flex() {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

$max: 100;
$min: 22;
@mixin paddingAll{
    @while $max > 0{
        .pd-#{$max}{padding: $max+px}
        $max: $max - 10;
    }
}
@mixin paddingTop{
    @while $max > 0{
        .pt-#{$max}{padding-top: $max+px}
        $max: $max - 10;
    }
}
@mixin paddingBottom{
    @while $max > 0{
        .pb-#{$max}{padding-bottom: $max+px}
        $max: $max - 10;
    }
}
@mixin paddingLeftRight{
    @while $max > 0{
        .plr-#{$max}{padding-left: $max+px; padding-right: $max+px;}
        $max: $max - 10;
    }
}
@mixin marginTop{
    @while $max > 0{
        .mt-#{$max}{margin-top: $max+px}
        $max: $max - 10;
    }
}
@mixin marginBottom{
    @while $max > 0{
        .pb-#{$max}{margin-bottom: $max+px}
        $max: $max - 10;
    }
}
@mixin marginRight{
    @while $max > 0{
        .mr-#{$max}{margin-right: $max+px}
        $max: $max - 10;
    }
}
@mixin marginLeft{
    @while $max > 0{
        .ml-#{$max}{margin-left: $max+px}
        $max: $max - 10;
    }
}
@mixin fontSizes {
    @while $min > 9{
        .fs-#{$min}{font-size: $min+px}
        $min: $min - 1;
    }
}

@mixin fontWeight {
    $skip: 100;
    @while $skip < 800{
        .fw-#{$skip}{font-weigth: $skip}
        $skip: $skip + 100;
    }
}

@mixin ellipis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
