// Bootstrap vars
$navbar-default-link-color:       #777 !default;
$navbar-padding-vertical:         0px !default;
$navbar-padding-horizontal:       0px !default;
$navbar-default-bg:               #f8f8f8 !default;
$navbar-inverse-bg:               #fff !default;

// Offcanvas vars
$offcanvas-width:                 280px !default;
$offcanvas-animation-time:        .15s !default;
$offcanvas-toggle-bars-color:     #fff !default;



.offcanvas-stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.navbar-default {
    .navbar-offcanvas {
        background-color: $navbar-default-bg;
    }
}

.navbar-inverse {
    .navbar-offcanvas {
        background-color: $navbar-inverse-bg;
    }
}

.navbar-offcanvas {
    position: fixed;
    width: 100%;
    max-width: 320px;
    left: -$offcanvas-width;
    top: 0;
    padding: 0;
    z-index: 999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: all $offcanvas-animation-time ease-in;
    background-color: $color-white;

    &.in {
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    }

    &.navbar-offcanvas-fade {
        opacity: 0;

        &.in {
            opacity: 1;
        }
    }

    &.offcanvas-transform {
        &.in {
            transform: translateX($offcanvas-width);
        }
    }

    &.offcanvas-position {
        &.in {
            left: 0;
        }
    }

    &.navbar-offcanvas-right {
        left: auto;
        right: -$offcanvas-width;

        &.offcanvas-transform.in {
            transform: translateX(-$offcanvas-width);
        }

        &.offcanvas-position.in {
            left: auto;
            right: 0;
        }
    }

    .dropdown {
        &.active .caret {
            border-top: 0;
            border-bottom: 4px solid;
        }
    }

    .dropdown-menu {
        position: relative;
        width: 100%;
        border: inherit;
        box-shadow: none;
        transition: height $offcanvas-animation-time ease-in;

        &.shown {
            display: block;
            margin-bottom: 10px;
        }
    }
    .navbar-brand{
        width: 100%;
        color: $color-dark;
    }

    .navbar-nav{
        float:none;
        margin:0px;
        h4{
            color: $color-darker;
            font-variant: small-caps;
            font-weight: 600;
            background: #f8f8f8;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
        li{
            float: none;
            padding-left: 10px;
            font-weight: 200;

            a{
                color:$color-darker-dark;
                &:hover{
                    color: $color-white;
                }
            }

            &:hover{
                background-color: $color-darker-dark;
                a{
                    color: $color-white;
                }
            }
        }
    }
}


.offcanvas-toggle {
    .icon-bar {
        background: $offcanvas-toggle-bars-color;
        transition: all .25s ease-in-out;
    }

    &.is-open {
        .icon-bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 4px);
        }

        .icon-bar:nth-child(2) {
            opacity: 0;
        }

        .icon-bar:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -4px);
        }
    }
}

@media (min-width: 768px) {
    .navbar-offcanvas{
        .navbar-header{
            float: none;
        }

        .navbar-nav{
            float:none;
            li{
                float: none;
            }
        }
    }
    sidebar{
        .navbar{
            border-radius: 0px;
        }
    }
}
