
@import "utils/variables";
@import "utils/mixins";
@import "utils/bootstrap";
@import "utils/offcanvas";
@import "utils/icheck";
@import "utils/cssinput";
@import "utils/form";
@import "utils/carousel";



@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700';
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab|Athiti);
/**
* Flaticons
*/
@font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.eot");
    src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../font/Flaticon.woff") format("woff"),
    url("../font/Flaticon.ttf") format("truetype"),
    url("../font/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../font/Flaticon.svg#Flaticon") format("svg");
    }
}

@import "utils/flaticon";
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
    margin-left: inherit;
}

* {
    padding: 0;
    margin: 0;
}
body{
    background: #fafbfc;
    font-family: $font-family-sans-serif;
}

@include paddingAll;
@include paddingTop;
@include paddingBottom;
@include paddingLeftRight;
@include marginTop;
@include marginBottom;
@include marginRight;
@include marginLeft;
@include fontSizes;
@include fontWeight;

a:hover,a:focus {
    text-decoration: none;
}

.cover{
    @include background-size(cover);
}
.img-cover{
    background:no-repeat;
    @include background-size(cover);
}

.wrapper {
    min-height: 100%;
}
#push {
    height: $footer-height;
}

.h1,
.h2,
.h3,
.h4{
    font-weight: 600;
    font-variant: small-caps;
}

.w100 {width:100px}
.w150 {width:150px}
.w200 {width:200px}
.w250 {width:250px}
.w300 {width:300px}
.mh-300{min-height: 300px;}
.mh-500{min-height: 500px;}
.fh{height: 100%;}

.text-white{color: $color-white}
.text-blue{color: $color-blue}
.text-blue-dark{color: $color-blue-dark}
.text-dark{color: $color-dark}
.text-black{color: $color-black}

.bg-white{background: $color-white}
.bg-dark{background: $color-dark}
.bg-black{background: $color-black}
.bg-blue{background: $color-blue}
.bg-red{background: $color-red}
.bg-green{background: $brand-green}
.bold{font-weight: 600}
.bg-pink {background: $color-pink}
.bg-pink-dark {background: $color-pink-dark}

.no-padding {padding: 0 !important}


.round{
    border-radius: 500px;
}

.line-through{
    text-decoration: line-through;
}
.line-over{
    text-decoration: overline;
}
.line-under{
    text-decoration: underline;
}
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.small-caps{
    font-variant: small-caps;
}


.loader{
    width:160px;
    height: 20px;
    background: url(../img/30.gif)no-repeat;
    margin:20px auto;
}

.pointer {
    cursor: pointer;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .5;
}


.img-full {
    width: 100%;
    height: auto;
}


.input-grey {
    width:100%;
    height: 45px;
    border-radius:2px;
    border:0px;
    background-color: #f3f3f3;
    text-align: center;
    color: $color-dark;
    font-size:20px;
    font-weight: 500;
    &:focus {
        outline: 0;
        border: 2px solid #bbb;
    }
}

.btn-lg {
    border-radius: 3px;
    padding:12px 25px;
}

/**
* Angular animations
*/
.ng-enter { animation: fadein 0.5s both ease-in; z-index: 999; }



@import "modules/front/nav";
@import "modules/front/sidebar";
@import "modules/front/carousel";
@import "modules/front/home";
@import "modules/front/footer";
@import "modules/front/page";
@import "modules/front/products";
@import "modules/front/product";
@import "modules/front/similar";
@import "modules/front/bag";
