/*MARGINS*/
.m-10{margin:10px}
.m-20{margin:20px}
.m-30{margin:30px}
.m-40{margin:40px}
.m-50{margin:50px}
.m-60{margin:60px}
.m-70{margin:70px}
.m-80{margin:80px}
.m-90{margin:90px}
.m-100{margin:100px}
.m-110{margin:110px}
.m-120{margin:120px}
.m-130{margin:130px}
.m-140{margin:140px}
.m-150{margin:150px}
.m-160{margin:160px}
.m-170{margin:170px}
.m-180{margin:180px}
.m-190{margin:190px}
.m-200{margin:200px}
.m-210{margin:210px}
.m-220{margin:220px}
.m-230{margin:230px}
.m-240{margin:240px}
.m-250{margin:250px}

/*MARGIN BOTTOM*/
.mb-10{margin-bottom:10px}
.mb-20{margin-bottom:20px}
.mb-30{margin-bottom:30px}
.mb-40{margin-bottom:40px}
.mb-50{margin-bottom:50px}
.mb-60{margin-bottom:60px}
.mb-70{margin-bottom:70px}
.mb-80{margin-bottom:80px}
.mb-90{margin-bottom:90px}
.mb-100{margin-bottom:100px}
.mb-110{margin-bottom:110px}
.mb-120{margin-bottom:120px}
.mb-130{margin-bottom:130px}
.mb-140{margin-bottom:140px}
.mb-150{margin-bottom:150px}
.mb-160{margin-bottom:160px}
.mb-170{margin-bottom:170px}
.mb-180{margin-bottom:180px}
.mb-190{margin-bottom:190px}
.mb-200{margin-bottom:200px}
.mb-210{margin-bottom:210px}
.mb-220{margin-bottom:220px}
.mb-230{margin-bottom:230px}
.mb-240{margin-bottom:240px}
.mb-250{margin-bottom:250px}

/*MARGIN TOP*/
.mt-10{margin-top:10px}
.mt-20{margin-top:20px}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mt-50{margin-top:50px}
.mt-60{margin-top:60px}
.mt-70{margin-top:70px}
.mt-80{margin-top:80px}
.mt-90{margin-top:90px}
.mt-100{margin-top:100px}
.mt-110{margin-top:110px}
.mt-120{margin-top:120px}
.mt-130{margin-top:130px}
.mt-140{margin-top:140px}
.mt-150{margin-top:150px}
.mt-160{margin-top:160px}
.mt-170{margin-top:170px}
.mt-180{margin-top:180px}
.mt-190{margin-top:190px}
.mt-200{margin-top:200px}
.mt-210{margin-top:210px}
.mt-220{margin-top:220px}
.mt-230{margin-top:230px}
.mt-240{margin-top:240px}
.mt-250{margin-top:250px}

/*MARGIN RIGHT*/
.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.mr-15{margin-right:15px;}
.mr-20{margin-right:20px;}
.mr-30{margin-right:30px;}
.mr-40{margin-right:40px;}
.mr-50{margin-right:50px;}

/*MARGIN LEFT*/
.ml-5{margin-left:5px}
.ml-10{margin-left:10px}
.ml-15{margin-left:15px}
.ml-20{margin-left:20px}
.ml-30{margin-left:30px}
.ml-40{margin-left:40px}
.ml-50{margin-left:50px}

.no-margin{margin: 0;}

/*PADDING*/
.p-10{padding:10px}
.p-20{padding:20px}
.p-30{padding:30px}
.p-40{padding:40px}
.p-50{padding:50px}
.p-60{padding:60px}
.p-70{padding:70px}
.p-80{padding:80px}
.p-90{padding:90px}
.p-100{padding:100px}
.p-110{padding:110px}
.p-120{padding:120px}
.p-130{padding:130px}
.p-140{padding:140px}
.p-150{padding:150px}
.p-160{padding:160px}
.p-170{padding:170px}
.p-180{padding:180px}
.p-190{padding:190px}
.p-200{padding:200px}
.p-210{padding:210px}
.p-220{padding:220px}
.p-230{padding:230px}
.p-240{padding:240px}
.p-250{padding:250px}

/*PADDING TOP*/
.pt-10{padding-top:10px}
.pt-20{padding-top:20px}
.pt-30{padding-top:30px}
.pt-40{padding-top:40px}
.pt-50{padding-top:50px}
.pt-60{padding-top:60px}
.pt-70{padding-top:70px}
.pt-80{padding-top:80px}
.pt-90{padding-top:90px}
.pt-100{padding-top:100px}
.pt-110{padding-top:110px}
.pt-120{padding-top:120px}
.pt-130{padding-top:130px}
.pt-140{padding-top:140px}
.pt-150{padding-top:150px}
.pt-160{padding-top:160px}
.pt-170{padding-top:170px}
.pt-180{padding-top:180px}
.pt-190{padding-top:190px}
.pt-200{padding-top:200px}
.pt-210{padding-top:210px}
.pt-220{padding-top:220px}
.pt-230{padding-top:230px}
.pt-240{padding-top:240px}
.pt-250{padding-top:250px}

/*PADDING BOTTOM*/
.pb-10{padding-bottom:10px}
.pb-20{padding-bottom:20px}
.pb-30{padding-bottom:30px}
.pb-40{padding-bottom:40px}
.pb-50{padding-bottom:50px}
.pb-60{padding-bottom:60px}
.pb-70{padding-bottom:70px}
.pb-80{padding-bottom:80px}
.pb-90{padding-bottom:90px}
.pb-100{padding-bottom:100px}
.pb-110{padding-bottom:110px}
.pb-120{padding-bottom:120px}
.pb-130{padding-bottom:130px}
.pb-140{padding-bottom:140px}
.pb-150{padding-bottom:150px}
.pb-160{padding-bottom:160px}
.pb-170{padding-bottom:170px}
.pb-180{padding-bottom:180px}
.pb-190{padding-bottom:190px}
.pb-200{padding-bottom:200px}
.pb-210{padding-bottom:210px}
.pb-220{padding-bottom:220px}
.pb-230{padding-bottom:230px}
.pb-240{padding-bottom:240px}
.pb-250{padding-bottom:250px}

.pl-5{padding-left:5px;}
.pl-10{padding-left:10px;}
.pl-15{padding-left:15px;}
.pl-20{padding-left:20px;}
.pl-25{padding-left:25px;}
.pl-30{padding-left:30px;}


.pr-5{padding-right:5px;}
.pr-10{padding-right:10px;}
.pr-15{padding-right:15px;}
.pr-20{padding-right:20px;}
.pr-25{padding-right:25px;}
.pr-30{padding-right:30px;}

.pt-xs{padding-top:20px;}
.pt-sm{padding-top:40px;}
.pt-md{padding-top:60px;}
.pt-lg{padding-top:80px;}
.pt-xl{padding-top:100px;}

.no-padding{padding:0px;}
.no-padding-right{padding-right: 0px;}
.no-padding-left{padding-left: 0px;}
.no-padding-top{padding-top: 0px;}
.no-padding-bottom{padding-bottom: 0px;}


.m-xs{margin:20px 0;}
.m-sm{margin:40px 0;}
.m-md{margin:60px 0;}
.m-lg{margin:80px 0;}
.m-xl{margin:100px 0;}

.mb-xs{margin-bottom:20px}
.mb-sm{margin-bottom:40px}
.mb-md{margin-bottom:60px;}
.mb-lg{margin-bottom:80px;}
.mb-xl{margin-bottom:100px;}

.mt-xs{margin-top:20px}
.mt-sm{margin-top:40px}
.mt-md{margin-top:60px;}
.mt-lg{margin-top:80px;}
.mt-xl{margin-top:100px;}



/*COLOURS*/
.white{color:#fff}
.dark{color:#333}
.black{color:#000}
.red{color:#e01c49}
.blue{color:#08c}
.orange{color:#f60}
.green{color:#1ab667}
.cyan{color: cyan}
.aqua{color: aqua}
.pink{color:deeppink}
.darkviolet{color: darkviolet}
.blueviolet{color: blueviolet}
.turquoise{color: turquoise}

/*BACKGROUNDS*/
.bg-white{background:#fff}
.bg-dark{background:#333}
.bg-grey{background:#f3f3f3;}
.bg-black{background:#000}
.bg-red{background:#e01c49}
.bg-blue{background:#08c}
.bg-orange{background:#f60}
.bg-green{background:#239630}
.bg-cyan{background: cyan}
.bg-aqua{background: aqua}
.bg-pink{background:deeppink}
.bg-darkviolet{background: darkviolet}
.bg-blueviolet{background: blueviolet}
.bg-turquoise{background: turquoise}
.bg-dark-blue{background: #010531;}
.bg-dark-green{background: #010012;}
.bg-purple{background: #6f359e;}

/*CURSORS*/
.cursor-no-drop{cursor:no-drop;}
.cursor-help{cursor:help;}
.cursor-wait{cursor:wait;}
.cursor-pointer{cursor:pointer;}

/*LINES*/
.line-overline{text-decoration:overline;}
.line-through{text-decoration:line-through;}
.line-underline{text-decoration:underline;}
.line-no-underline{text-decoration: none;}

/*ALIGN*/
.a-center{text-align: center;}
.a-left{text-align:left;}
.a-right{text-align: right;}
.a-justify{text-align: justify}
.centered{margin:0 auto;}

/*FONT SIZE*/
.fs10{font-size:10px}
.fs11{font-size:11px}
.fs12{font-size:12px}
.fs13{font-size:13px}
.fs14{font-size:14px}
.fs15{font-size:15px}
.fs16{font-size:16px}
.fs17{font-size:17px}
.fs18{font-size:18px}
.fs20{font-size:20px}
.fs22{font-size:22px}
.fs25{font-size:25px}
.fs30{font-size:30px}
.fs40{font-size:40px}
.fs50{font-size:50px}
.fs60{font-size:60px}
.fs80{font-size:80px}
.fs99{font-size:99px}


/*TEXT TRANSFORM*/
.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}
.capitalize{text-transform: capitalize;}

/*BORDERS*/
.no-border{border:0px !important;}


/*BUTTONS*/
.btn-rounded{border-radius: 500px;}

/*WIDTHS*/
.mw-20{min-width:20px;}
.mw-30{min-width:30px;}
.mw-40{min-width:40px;}
.mw-50{min-width:50px;}
.mw-60{min-width:60px;}
.mw-70{min-width:70px;}
.mw-80{min-width:80px;}
.mw-100{min-width:100px;}
.mw-120{min-width:120px;}
.mw-150{min-width:150px;}

/*HEIGHT*/
.mh-100{min-height:100px;}
.mh-200{min-height:200px;}

/*FONT WEIGHT*/
.fw-100{font-weight:100;}
.fw-200{font-weight:200;}
.fw-300{font-weight:300;}
.fw-400{font-weight:400;}
.fw-500{font-weight:500;}
.fw-600{font-weight:600;}
.fw-bold{font-weight:600;}



/**LINE HEIGHT**/
.lh-18{line-height: 18px;}
.lh-20{line-height: 20px;}
.lh-22{line-height: 22px;}
.lh-24{line-height: 24px;}
.lh-25{line-height: 25px;}
.lh-30{line-height: 30px;}
.lh-35{line-height: 35px;}
.lh-40{line-height: 40px;}
.lh-50{line-height: 50px;}
.lh-60{line-height: 60px;}





/*ROTATION*/
.rotate-left-45{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.rotate-left-90{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}