.bag-page {
    padding: 40px 0;
    font-family: Athiti, 'Open Sans', sans-serif;


    .bag-checkout {
        background-color: #e8f1f8;
        @include border-radius(4px);
        padding: 40px 20px;

        h3 {
            text-transform: uppercase;
            font-size: 22px;
        }

        table {
            margin-top:20px;
            width: 100%;
            font-weight:600;
            font-size: 18px;

            >tr {
                width: 100%;
                margin-bottom: 10px;

                > td {
                    width:50%;
                }
            }
        }

        .total {
            font-size:20px;
            border-top:1px dashed #b7b4b2;
            padding-top: 10px;

            > .text-right {
                font-weight: bold;
            }
        }
    }


    .bag-products {
        margin-bottom: 20px;

        h3 {
            margin-bottom: 20px;
        }


        .bag-product {
            background-color: white;
            padding: 0;
            margin-bottom: 10px;

            .content {
                padding: 10px;

                .title {
                    font-size:20px;
                    width: 100%;
                    @include ellipsis();
                }
                .price {
                    font-size:22px;
                    font-weight: bold;
                    text-align: right;
                    padding-right: 30px;
                }
            }

            //buttons
            .buttons {
                .list-inline {
                    width: 100%;
                    text-align: right;
                    padding-right: 20px;

                    li {
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        margin-right: 10px;
                        text-align: center;
                        vertical-align: middle;
                        padding-top:7px;

                        a {
                            color: white;
                            font-size:18px;
                        }
                    }
                }
            }
        }
    }


    .bag-card {
        background-color: white;
        padding: 10px 0;
        margin-bottom: 20px;

        .card-header {
            width: 100%;
            margin-top:10px;
            padding: 0 10px;

            .card-options {
                float: right;

                li {
                    a {
                        color: #999;
                        font-weight: bold;
                    }
                }
            }
        }

        h3 {
            font-weight: bold;
        }

        table {
            font-size: 16px;

            &.table
            > tbody > tr > td {
                line-height: 30px;
                width: 100%;
                @include ellipsis();
            }
        }
    }


}


@media (max-width:$screen-sm-min) {
    .bag-page {
        .bag-products {
            .bag-product {

                .content {
                    padding: 0 5px;
                    .title {
                        font-size:17px;
                    }
                    .price {
                        font-size:20px;
                        padding-right: 20px;
                        margin-top:10px;
                    }
                }

                .buttons {
                    margin-top:5px;

                    .list-inline {
                        padding-right: 10px;
                        li {
                            width: 35px;
                            height: 35px;
                            a {
                                font-size:16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
