
.home-slider {
    /* Carousel base class */
    .carousel {
        height: 500px;
        margin-bottom: 10px;

        .carousel-caption {
            z-index: 20;
            position: absolute;
        }

        .carousel-inner > .item > img {
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height: auto;
            background-size: cover;
        }

        .item {
            height: 500px;
            background-color: #fff;
            overflow: hidden;
            h3 {
                font-size:50px;
                margin: 0;
                padding: 0;
                margin-bottom: 20px;
            }
            p {
                font-size:20px;
            }
        }
    }


    .slider {
        height: 500px;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;

        .slider-item {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }

}



@media (max-width: $screen-sm-max) {
    .home-slider {
        .carousel-caption p {
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 1.4;
        }

        .carousel {
            height: 225px;

            .item {
                height: 225px;

                h3 {
                    font-size:2rem;
                }

                p {
                    font-size:15px;
                }
            }
        }
    }
}
