footer {
    width: 100%;
    min-height: $footer-height;
    background-color: $color-pink;
    color: white;
    margin: 0;
    padding: 40px 0;


    .footer-brand {
        text-align: center;
        font-size: 40px;
        font-family: Athiti;
        margin-bottom: 40px;
    }


    h4 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        padding: 0;
        margin: 0;
    }


    ul  {
        margin-top:10px;

        li {
            line-height: 25px;
            font-size:15px;

            a {
                color: white;

                &:hover {
                    text-decoration: underline;
                    color: white;
                }

            }
        }
    }

    .logo-insta {
        background-image: url('../img/logos/insta.jpg');
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
}


@media (max-width: $screen-sm-max) {
    footer {
        text-align: center;

        h4 {
            margin-top:30px;
        }

        .footer-brand {
            text-align: center;
            font-size: 40px;
            font-family: Athiti, 'Open Sans', sans-serif;;
            margin-bottom: 10px;
        }

        .logo-insta  {
            margin-top:40px;
        }
    }
}
