

.home-tabs {
    background-color: $color-white;
    height: 50px;
    line-height: 44px;
    margin: 0;
    font-family: Athiti, 'Open Sans', sans-serif;
    font-weight: bold;

    .list-inline {
        text-align: center;
        width: 100%;
        @include ellipsis();

        li {
            width:150px;
            margin: 0;

            a {
                color: $color-dark;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $color-pink;
                }
            }

            &:hover {
                border-bottom: 5px solid $color-pink;
            }

        }
        .active {
            border-bottom: 5px solid $color-pink;
        }
    }
}


.seasonal {
    margin: 60px 0;
    width: 100%;
    height: 100%;

    .row {
        //@include flex();

        .seasonal-message {
            color: white;
            text-align: center;
            width: 100%;
            height: 100%;

            .header {
                font-size: 4.2em;
                font-weight: 600;
                width: 100%;
                padding: 0;
                font-family: 'Indie Flower', 'Open Sans', cursive, sans-serif;
                margin-top:60px;
            }
            .description {
                margin-bottom: 60px;
                font-size:22px;
                margin-top:20px;
            }
        }
    }
}

.items {
    margin-bottom: 40px;
    .item {
        background-color: white;
        padding: 0;
        @include border-radius(10px);
        @include box-shadow(0px, 2px, 2px, 0px, #d3d3d3);
        width: 100%;
        position: relative;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
            @include border-radius(10px);
            image-resolution: from-image;
        }
        .extra {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            text-align: center;
            position: absolute;
            right: 0;
            margin-right:10px;
            margin-top:10px;
            color: white;
            font-size:14px;
            padding-top:20px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: $brand-green;
        }
        .item-footer {
            padding: 0 10px;
            margin-top:10px;
            a {
                font-size:14px;
            }
        }
        .extra-left {
            position: absolute;
            left: 0;
            margin-left:15px;
            margin-top:5px;
            padding-top:10px;

            a {
                color: $color-dark;
                font-size:30px;
                font-weight: bold;

                &:hover, &:focus {
                    text-decoration: none;
                    color: $color-darker-dark;
                }
            }
        }
        .item-price {
            position: absolute;
            botom: 1;
            margin-top:-40px;
            text-align: center;
            width: 90%;

            a {
                color: white;
                padding:11px 30px;
                border-radius: 50px;
                background-color: rgba(0, 0, 0, 0.8);

                &:hover {
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
}


.home-newsleter-row {
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    background-color:white;
    .input-white {
        width:100%;
        height: 45px;
        border-radius:2px;
        border:0px;
        background-color: $color-white;
        text-align: center;
        color: $color-dark;
        font-size:20px;
        font-weight: 500;
        &:focus {
            outline: 0;
            border: 2px solid $color-blue;
        }
    }
}


.home-shipping {
    margin: 0;
    padding: 30px 0;
    text-align: center;
    background-color: black;

    .home-shipping-text {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        font-family: Athiti, 'Josefin Slab', 'Open Sans';
    }
}


//small screens
@media (max-width: $screen-sm-max) {
    .seasonal {
        .row {
            .seasonal-message {
                text-align: center;
                padding-bottom: 20px;

                .header {
                    font-size: 2.8em;
                    margin-top:50px;
                }
                .description {
                    font-size:1.6rem;
                    margin-bottom: 60px;
                }
            }
        }
    }


    .home-shipping {
        padding:25px 0;
        .home-shipping-text {
            font-size:18px;
        }
    }
}

//medium screens
@media (max-width: $screen-xs-max) {
    .seasonal {
        .row {
            .seasonal-message {
                text-align: center;
                padding-bottom: 40px;

                .header {
                    font-size: 2.8em;
                    margin-top:20px;
                }
                .description {
                    font-size:1.6rem;
                    margin-bottom: 20px;
                }
            }
        }
    }
}


//big screens
@media (min-width: $screen-md-max) {
    .seasonal {
        .row {
            .seasonal-message {
                text-align: center;

                .header {
                    font-size: 4.6em;
                    margin-top:100px;
                }

                .description {
                    font-size:2.6rem;
                    margin-bottom: 80px;
                    margin-top:20px;
                }
            }
        }
    }
}
