.nav-search {
    margin: 7px auto;
    width:40%;
    display: block;
    i {
        position: relative;;
        padding-right:15px;
        margin-top:-40px;
        font-size:20px;
        font-weight: bold;
        float: right;
        //display: none;
    }

    .input-search {
        width:100%;
        height: 50px;
        border-radius:2px;
        border:0px;
        background-color: $color-pink-light;
        text-align: center;
        padding-right: 40px;
        color: $color-white;
        font-size:20px;
        font-weight: 500;
        &::-webkit-input-placeholder {
            color:    #fff;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #fff;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #fff;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    #fff;
        }
        &:focus {
            outline: 0;
            background: $color-white;
            text-align: center;
            color: $color-dark;

            .nav-search i {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar-default {
        .navbar-nav {
            > li > a {
                span {
                    display: inline-block;
                    margin-left: 20px;
                }
            }
        }
    }
}
