.page {
    padding:60px 0;

    h1,h2,h3,h4 {
        font-weight: 500;
    }

    .page-card {
        margin:20px 0;
        padding:20px;
        border: 1px solid #e6e6e6;
        background-color: white;
        @include border-radius(2px);
    }
}






@media (max-width: $screen-sm-min) {
    .page {
        .page-card {
            padding:10px;
        }
    }
}
