.product-page {
    margin: 40px 0;
    font-family: Athiti, 'Open Sans', sans-serif;

    .product-left, .product-right {
        background-color: white;
    }


    .product-title {
        padding-top:20px;
        width: 100%;

        h2 {
            font-size: 30px;
            font-weight: 600;
        }
    }

    //specs
    .product-specs {
        padding-top:20px;

        .category-select {
            select {
                background-color: #f3f4f5;
                font-weight: bold;
                font-size: 18px;
            }
        }

        .sizes {
            margin-bottom: 10px;

            .list-inline {
                width:100%;
                height: 45px;

                li {
                    width:40px;
                    height: 100%;
                    text-align: center;
                    background-color: #f3f4f5;
                    font-size:20px;
                    font-weight: bold;
                    padding-top:8px;
                    cursor: pointer;

                    &.active {
                        background-color: $color-green;
                        color: white;
                    }
                }
            }
        }



        .category-select {
            margin-bottom: 5px;
        }



        .like {
            text-align: center;

            a {
                color: $color-darker-dark;
                font-size: 18px;
                font-weight: 600;

                &:hover {
                    text-decoration: none;
                    color: $color-green;
                }
            }

        }
    }


    h3 {
        &.description {
            cursor: pointer;
        }

        i {
            font-size:18px;
        }
    }

    .product-description {
        font-size:16px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

}
