.products-page {
    padding: 40px 0;

    h2 {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: Athiti, 'Open Sans', sans-serif;
    }


    .products-filter {
        h4 {
            font-weight: 500;
        }

        .category-select {
            border: 1px solid #e6e7e9;
            border-radius: 0px;
            height: 45px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            margin-top:10px;
            border-radius: 3px;

            select {
                background-color: white;
                width: 100%;
                text-align: center;
                height: 43px;
                text-align: center;
                color: $color-darker;
                font-weight: 500;
                font-size: 16px;
                padding:10px;
                border:none;

                &:focus {
                    outline: none;
                }
            }
        }
    }




    /*product list*/
    .products-list {
        width: 100%;
        background-color: transparent;
        padding: 20px;


        .product {
            background-color: white;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border:1px solid #f3f4f5;
            @include border-radius(5px);

            img {
                @include border-radius(5px 5px 0px 0px);
            }

            .product-title {
                padding: 5px;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                width:100%;
                @include ellipis();

                a {
                    color: $color-dark;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .product-price {
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                color: #353f4f;

                a {
                    color: $color-dark;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }


            .extra {
                text-align: center;
                position: absolute;
                right: 0;
                margin-right:25px;
                margin-top:10px;
                color:  $brand-green;;
                font-size:16px;
                font-weight: bold;
                text-transform: uppercase;
            }


            .extra-left {
                position: absolute;
                left: 0;
                margin-left:30px;
                margin-top:5px;

                a {
                    color: $color-dark;
                    font-size:30px;
                    font-weight: bold;

                    &:hover, &:focus {
                        text-decoration: none;
                        color: $color-darker-dark;
                    }
                }
            }


        }
    }
}
