
sidebar {
    .side-search {
        padding: 10px;
        margin-top:3px;
        z-index: 109;
        .side-search-input {
            height: 50px;
            line-height: 50px;
            width: 100%;
            background-color: #f3f3f3;
            border-radius:5px;
            border:2px solid #ddd;
            text-align: center;
            outline: 0;
            font-size: 16px;

            &:focus {
                background-color: white;
            }
        }
    }
}
