
.berlish-product-similar {
    padding: 20px 0;
    margin-bottom: 40px;
    font-family: Athiti, 'Open Sans', sans-serif;


    a > .similar-item {
        color: $color-darker-dark;

        &:hover,&:focus {
            text-decoration: none;
        }
    }

    .similar-item {
        text-align: center;
        border: 1px solid #f4f5f6;
        padding-bottom: 10px;
        background-color: white;
        margin-bottom: 10px;
        @include border-radius(4px);

        img {
            @include border-radius(6px 6px 0 0);
        }

        h4 {
            font-weight: bold;
            padding: 0;
            margin: 5px 0;
            color: $color-green;
        }

        .title {
            font-size:16px;
            width: 100%;
            padding:0 5px;
            @include ellipis();
        }
    }
}
