    /*
    Flaticon icon font: Flaticon
    Creation date: 08/08/2016 16:30
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-arrows-2:before { content: "\f103"; }
.flaticon-arrows-3:before { content: "\f104"; }
.flaticon-arrows-4:before { content: "\f105"; }
.flaticon-arrows-5:before { content: "\f106"; }
.flaticon-arrows-6:before { content: "\f107"; }
.flaticon-avatar:before { content: "\f108"; }
.flaticon-back-arrow:before { content: "\f109"; }
.flaticon-bars:before { content: "\f10a"; }
.flaticon-building:before { content: "\f10b"; }
.flaticon-business:before { content: "\f10c"; }
.flaticon-check:before { content: "\f10d"; }
.flaticon-circle:before { content: "\f10e"; }
.flaticon-controls:before { content: "\f10f"; }
.flaticon-cross:before { content: "\f110"; }
.flaticon-cross-1:before { content: "\f111"; }
.flaticon-delivery-truck:before { content: "\f112"; }
.flaticon-delivery-truck-with-circular-clock:before { content: "\f113"; }
.flaticon-downloading:before { content: "\f114"; }
.flaticon-draw:before { content: "\f115"; }
.flaticon-garbage21:before { content: "\f116"; }
.flaticon-gift:before { content: "\f117"; }
.flaticon-interface:before { content: "\f118"; }
.flaticon-interface-1:before { content: "\f119"; }
.flaticon-like:before { content: "\f11a"; }
.flaticon-line:before { content: "\f11b"; }
.flaticon-locked:before { content: "\f11c"; }
.flaticon-login:before { content: "\f11d"; }
.flaticon-logout:before { content: "\f11e"; }
.flaticon-magnifying-glass:before { content: "\f11f"; }
.flaticon-mastercard:before { content: "\f120"; }
.flaticon-menu-button:before { content: "\f121"; }
.flaticon-money:before { content: "\f122"; }
.flaticon-music:before { content: "\f123"; }
.flaticon-musical-note:before { content: "\f124"; }
.flaticon-note:before { content: "\f125"; }
.flaticon-paper11:before { content: "\f126"; }
.flaticon-playlist:before { content: "\f127"; }
.flaticon-power:before { content: "\f128"; }
.flaticon-redo:before { content: "\f129"; }
.flaticon-redo-arrow:before { content: "\f12a"; }
.flaticon-rubbish-bin:before { content: "\f12b"; }
.flaticon-settings:before { content: "\f12c"; }
.flaticon-shapes:before { content: "\f12d"; }
.flaticon-shapes-1:before { content: "\f12e"; }
.flaticon-shiny-diamond:before { content: "\f12f"; }
.flaticon-shopping-bag:before { content: "\f130"; }
.flaticon-shopping-cart:before { content: "\f131"; }
.flaticon-social:before { content: "\f132"; }
.flaticon-social-1:before { content: "\f133"; }
.flaticon-square:before { content: "\f134"; }
.flaticon-squares:before { content: "\f135"; }
.flaticon-supermarket68:before { content: "\f136"; }
.flaticon-system:before { content: "\f137"; }
.flaticon-time:before { content: "\f138"; }
.flaticon-tool:before { content: "\f139"; }
.flaticon-tool-1:before { content: "\f13a"; }
.flaticon-unlocked:before { content: "\f13b"; }
.flaticon-user:before { content: "\f13c"; }
.flaticon-visa:before { content: "\f13d"; }
.flaticon-wallet:before { content: "\f13e"; }
.flaticon-web:before { content: "\f13f"; }
    
    $font-Flaticon-arrow: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-arrows-1: "\f102";
    $font-Flaticon-arrows-2: "\f103";
    $font-Flaticon-arrows-3: "\f104";
    $font-Flaticon-arrows-4: "\f105";
    $font-Flaticon-arrows-5: "\f106";
    $font-Flaticon-arrows-6: "\f107";
    $font-Flaticon-avatar: "\f108";
    $font-Flaticon-back-arrow: "\f109";
    $font-Flaticon-bars: "\f10a";
    $font-Flaticon-building: "\f10b";
    $font-Flaticon-business: "\f10c";
    $font-Flaticon-check: "\f10d";
    $font-Flaticon-circle: "\f10e";
    $font-Flaticon-controls: "\f10f";
    $font-Flaticon-cross: "\f110";
    $font-Flaticon-cross-1: "\f111";
    $font-Flaticon-delivery-truck: "\f112";
    $font-Flaticon-delivery-truck-with-circular-clock: "\f113";
    $font-Flaticon-downloading: "\f114";
    $font-Flaticon-draw: "\f115";
    $font-Flaticon-garbage21: "\f116";
    $font-Flaticon-gift: "\f117";
    $font-Flaticon-interface: "\f118";
    $font-Flaticon-interface-1: "\f119";
    $font-Flaticon-like: "\f11a";
    $font-Flaticon-line: "\f11b";
    $font-Flaticon-locked: "\f11c";
    $font-Flaticon-login: "\f11d";
    $font-Flaticon-logout: "\f11e";
    $font-Flaticon-magnifying-glass: "\f11f";
    $font-Flaticon-mastercard: "\f120";
    $font-Flaticon-menu-button: "\f121";
    $font-Flaticon-money: "\f122";
    $font-Flaticon-music: "\f123";
    $font-Flaticon-musical-note: "\f124";
    $font-Flaticon-note: "\f125";
    $font-Flaticon-paper11: "\f126";
    $font-Flaticon-playlist: "\f127";
    $font-Flaticon-power: "\f128";
    $font-Flaticon-redo: "\f129";
    $font-Flaticon-redo-arrow: "\f12a";
    $font-Flaticon-rubbish-bin: "\f12b";
    $font-Flaticon-settings: "\f12c";
    $font-Flaticon-shapes: "\f12d";
    $font-Flaticon-shapes-1: "\f12e";
    $font-Flaticon-shiny-diamond: "\f12f";
    $font-Flaticon-shopping-bag: "\f130";
    $font-Flaticon-shopping-cart: "\f131";
    $font-Flaticon-social: "\f132";
    $font-Flaticon-social-1: "\f133";
    $font-Flaticon-square: "\f134";
    $font-Flaticon-squares: "\f135";
    $font-Flaticon-supermarket68: "\f136";
    $font-Flaticon-system: "\f137";
    $font-Flaticon-time: "\f138";
    $font-Flaticon-tool: "\f139";
    $font-Flaticon-tool-1: "\f13a";
    $font-Flaticon-unlocked: "\f13b";
    $font-Flaticon-user: "\f13c";
    $font-Flaticon-visa: "\f13d";
    $font-Flaticon-wallet: "\f13e";
    $font-Flaticon-web: "\f13f";