<div class="bg-white">
    <div class="container">
        <h1 class="text-center small-caps bold">Shop Latest</h1>

        <div class="row items">
            <div class="col-sm-6">
                <div class="item">
                    <div class="extra-left">
                        <a href ng-click="like(prime)">
                            <i class="flaticon-shapes" ng-if="prime.is_favourite"></i>
                            <i class="flaticon-like" ng-if="!prime.is_favourite"></i>
                        </a>
                    </div>

                    <div class="extra" ng-if="prime.sale > 0">
                        Sale
                    </div>
                    <div class="item-image">
                        <a href="/products/{[ prime.sku ]}/{[ prime.slug ]}">
                            <img ng-src="{[ prime.image ]}" alt="" />
                        </a>
                    </div>
                    <div class="item-price text-center">
                        <a href="#">
                            AUD {[ prime.sale > 0 ? prime.sale : prime.price ]}
                        </a>
                    </div>
                </div>
            </div>
            <!--col-sm-6-->

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6" ng-repeat="product in products">
                        <div class="item">
                            <div class="extra-left">
                                <a href ng-click="like(product)">
                                    <i class="flaticon-shapes" ng-if="product.is_favourite"></i>
                                    <i class="flaticon-like" ng-if="!product.is_favourite"></i>
                                </a>
                            </div>
                            <div class="extra" ng-if="product.sale > 0">
                                Sale
                            </div>
                            <div class="item-image">
                                <a href="/products/{[ product.sku ]}/{[ product.slug ]}">
                                    <img ng-src="{[ product.image ]}" alt="" />
                                </a>
                            </div>
                            <div class="item-price text-center">
                                <a href="#">
                                    AUD {[ product.sale > 0 ? product.sale : product.price ]}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                </div>
            </div>
        </div>
    </div>
</div>
